* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: hsl(0, 100%, 74%);
  background-image: url("./assets/images/bg-intro-desktop.png");
  color: #fff;
  font-size: 16px;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  padding: 10px 15px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
}

.container > div {
  flex: 1;
  padding: 0 20px;
}

.header h1 {
  font-size: 50px;
  line-height: 60px;
}

.header p {
  font-size: 14px;
  line-height: 20px;
}

p {
  font-size: 12px;
  opacity: 0.8;
}

.box {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  text-align: center;
}

.box p {
  margin: 0;
}

.box-blue {
  padding: 20px;
  background-color: hsl(248, 32%, 49%);
}

.control {
  margin-bottom: 30px;
  position: relative;
}

.control small {
  text-align: right;
  position: absolute;
  right: 0;
  bottom: -20px;
  opacity: 0;
}

.control .input {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid hsl(246, 25%, 77%);
  display: block;
  width: 100%;
  padding: 15px 25px;
  border-radius: 5px;
  outline: none;
}

.control img {
  display: block;
  position: absolute;
  top: 16px;
  right: 20px;
  width: 20px;
  height: 20px;
  opacity: 0;
}

.control .input:focus {
  border: 1px solid hsl(248, 32%, 49%);
  outline: none;
}

.control .input.input-fail::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: hsl(0, 100%, 74%);
  opacity: 1; /* Firefox */
}

.control .input.input-fail:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: hsl(0, 100%, 74%);
}

.control .input.input-fail::-ms-input-placeholder {
  /* Microsoft Edge */
  color: hsl(0, 100%, 74%);
}

.control.control-fail .input.input-fail {
  border: 2px solid hsl(0, 100%, 74%);
  color: hsl(0, 100%, 74%);
}

.control.control-fail img {
  opacity: 1;
}

.control.control-fail small {
  opacity: 1;
  color: hsl(0, 100%, 74%);
}

button {
  cursor: pointer;
  width: 100%;
  background-color: hsl(154, 59%, 51%);
  border: 1px solid hsl(154, 59%, 45%);
  border-bottom-width: 3px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  border: 1px solid hsl(246, 25%, 77%);
  display: block;
  color: #fff;
  padding: 15px 25px;
  border-radius: 5px;
  outline: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 0.4s ease;
}

button:focus {
  outline: none;
}

button:active {
  border-bottom-width: 1px;
  transform: translateY(2px);
}

small {
  color: #bbb;
  font-size: 13px;
  margin-top: 10px;
  display: block;
  font-weight: 500;
}

small a {
  text-decoration: none;
  color: hsl(0, 100%, 74%);
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .header h1 {
    text-align: center;
    font-size: 22px;
    line-height: normal;
  }
  .header p {
    margin-bottom: 50px;
  }
  p {
    text-align: center;
  }
  .container {
    flex-direction: column;
    padding: 50px 5px;
  }
  .box {
    padding: 25px 20px;
  }
  .box-blue {
    padding: 15px 50px;
  }
  .control {
    margin-bottom: 25px;
  }
  .control .input {
    font-size: 12px;
    padding: 15px;
  }
  button {
    padding: 15px;
  }
}
